{% extends 'store/index.html'%}
{% load static %}


{% block content %}

    {% for p in product%}
    <div class="card mx-3 my-3" style="width: 18rem;display:inline-block">
      <img class="card-img-top" src="{{p.prod_image.url}}" alt="...">
      <div class="card-body">
        
        <div class="row">
          <h5 class="col card-title">{{p.prod_name}}</h5>
          <h5 class="col"></h5>
          <h4 class="col card-title align-right">${{p.prod_price}}</h4>
          <hr>
        </div>
        <div class="text-center">
          <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
      </div>
    </div>

{% endfor %}
{% endblock%}